@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;700&display=swap');

.bird-details {
  position: relative;
  top: 6em;
  height: 80%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  color: #162719;
  overflow: scroll;
}

.bird-details h2 {
  font-weight: 300;

}

.bird-details article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bird-details img {
  width: 95%;
  border: 3px solid #E07A5F;
  border-radius: 3em;
  margin-bottom: .5em;
}

.bird-details h3, .bird-details h4, .bird-details h5 {
  margin: .3em;
}
