@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;700&display=swap');

.bird-details {
  position: relative;
  top: 6em;
  display: flex;
  flex-direction: column;
  height: inherit;
  z-index: 0;
  color: #162719;
  margin: .5em;
}

.bird-details h2 {
  font-weight: 300;
}

.bird-details article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bird-details img {
  width: 95%;
  border: 3px solid #E07A5F;
  border-radius: 3em;
  margin: 0 0 .5em 0;
}

.bird-details h3, .bird-details h4, .bird-details h5 {
  margin: .3em;
}

@media only screen and (min-width: 500px)  {
  .bird-details img {
    width: 35em;
  }
}
