@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@200;400;600&display=swap');

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Nunito, sans-serif;
  font-weight: 600;
  background: #F3F2F7;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  background: #162719;
  color: #F3F2F7;
}
