@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;700&display=swap');


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito-sans', sans-serif;
  font-weight: 700;
  background: #F3F2F7;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  background: #162719;
  color: #F3F2F7;
}
