@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;700&display=swap');

.loading {
  position: relative;
  top: 6em;
  height: 70vw;
  width: 95%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #162719;
}

.loading h3 {
  font-weight: 300;
  margin: .3em;
}

.loading article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading img {
  width: 95%;
  border: 3px solid #E07A5F;
  border-radius: 3em;
  margin-bottom: .5em;
}

@media only screen and (min-width: 500px)  {
  .loading img {
    width: 35em;
  }
}
