@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;700&display=swap');

.topList {
  position: relative;
  top: 4.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #162719;
  font-family: 'Nunito-sans', sans-serif;
}

h2 {
  font-weight: 300;
}

table {
  width: 95%;
  color: #162719;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table tbody {
  height: 28em;
  overflow: scroll;
}

table th {
  padding: .5em;
  margin: .2em;
  font-weight: 300;
  text-decoration: underline;
}

table tr {
  color: #162719;
  width: 65%;
  padding: .3em;
  margin: .1em;
}

table td {
  color: #162719;
  padding: .3em;
  margin: .1em;
  font-weight: 200;
}
