@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;700&display=swap');

.highlight {
  position: relative;
  top: 8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  heigth: 80%;
  z-index: 0;
  color: #162719;
  overflow: scroll;
}

.highlight h2 {
  font-weight: 300;
}

.highlight a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight img {
  width: 95%;
  border: 3px solid #E07A5F;
  border-radius: 3em;
  margin: 0;
}

.highlight h3, .highlight h4, .highlight h5 {
  margin: .3em;
}

@media only screen and (min-width: 500px)  {
  .highlight a {
    width: 35em;
  }
}
